// /styles/layout/_header.scss

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem 0;

    span {
        font-weight: bold;
    }
}

.radioButtonContainer {
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
}