// /styles/components/_summary.scss

.containerResult {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary {
    display: flex;
    margin-top: 1rem;
    border: 2px outset black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;

    &.summaryAccordion span {
        width: 100%;
    }
}

.summary span {
    padding: 0.5rem;
}

.summaryInfo {
    background-color: #D1ECF1;
}

.summarySkapa {
    background-color: #D4EDDA;
}

.summaryNoSkapa {
    background-color: #F8D7DA;
}
