// /styles/base/_global.scss

body {
    height: 100vh;
    overflow-y: scroll;
    font-family: "NotoIKEALatin", "Noto IKEA", "Noto Sans", "Roboto", "Open Sans",-apple-system,sans-serif
}

label {
    font-weight: bold;
}

hr {
    margin: 2rem 0;

    &:first-child {
        margin-top: 1.5rem;
    }
}
